.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.calendar th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.calendar .day {
    height: 80px;
    vertical-align: top;
    cursor: pointer; /* Cambia el cursor al pasar sobre un día */
    position: relative; /* Para efectos de pseudo-elementos */
}

.calendar .day:hover {
    background-color: #e0f7fa; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    z-index: 1; /* Asegúrate de que el día esté por encima de otros elementos */
}

.calendar .day.today {
    background-color: #dff0d8; /* Color para el día actual */
}

.calendar .day.clicked {
    background-color: #b2ebf2; /* Color para el día clickeado */
    animation: clickAnimation 0.3s ease; /* Animación al hacer clic */
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-container {
    display: flex;
    align-items: center;
}

.select-container label {
    margin-right: 8px;
}

/* Estilos para el modal */
.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-body {
    padding: 20px;
}

.modal-body .form-control {
    margin-bottom: 10px;
}

.modal-body .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.modal-body .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
