@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 0;
}

h1, h2{
    color: #008f8d;
}

p {
    color: #023536;
}

header {
    background-color: #e3ffff;
    max-height: 25%;
}

.btn-custom {
    background-color: #7ce0a0;
    color: #e3ffff;
}

.btn-custom:hover {
    color:#008f8d;
    background-color: #7ce0a0;

}

.list-group-item:hover {
    background-color: #B2FFEF;
    color:#023536;
}

footer {
    background-color:#008f8d;
    padding: 3px;
}

.text-muted {
    margin: 3px;
    color: #B2FFEF !important;
}