* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container-custom {
    padding: 0;
    min-height: 100vh;
        display: flex;
        flex-direction: column;
}

.main-custom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.container-fluid {
    padding: 0;
}

h1, h2{
    color: #008f8d;
}

p {
    color: #023536;
}

header {
    background-color: #e3ffff;
    max-height: 20% !important;
}

.logo {
    padding: 0;
    height: 100px;
    width: auto;
}

.btn-custom {
    background-color: #7ce0a0;
    color: #e3ffff;
}

.btn-custom:hover {
    color:#008f8d;
    background-color: #7ce0a0;

}

.list-group-item:hover {
    background-color: #e3ffff;
    color:#023536;
}

footer {
    background-color:#008f8d;
    padding: 3px;
}

.text-muted {
    margin: 3px;
    color: #B2FFEF !important;
}

a {
    color: #023536;
}

a:hover {
    color:#7ce0a0;
}

.inputLabel {
    color: #008f8d;
    font-weight: 500;
}

span{
    font-weight: 500;
    color: #008f8d;
}

.custom-tr th{
    color: #023536;
}

.doctor-card {
    background-color: #e3ffff;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.doctor-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


